        .AboutMain{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-family: "About", Arial, sans-serif;




        .text{
            text-align: center;
            display: flex;
            gap: 10px;
            flex-direction: column;
            @media (min-width: 1441px) {
                font-size: 1.35rem;
            }
            @media (min-width: 1025px) and (max-width: 1440px) {
                font-size:1.35rem;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 1.35rem;
                text-align: left;
            }
            @media (min-width: 481px) and (max-width: 767px) {
                font-size: 1.33rem;
                text-align: left;
            }
            @media (max-width: 480px) {
                font-size: 1.1rem;
                text-align: left;
            }








            .line1{
                .fields {
                    font-family: JW\.Sans-Bold;
                    position: relative
                }

                .fields:after,.fields:before {
                    background-color: #dadad7;
                    bottom: -.313rem;
                    content: "";
                    height: .063rem;
                    left: 0;
                    position: absolute;
                    transform: translateY(-50%);
                    width: 100%
                }

                .fields:before {
                    transform: translateY(0) rotate(-2deg)
                }

                .fields:after {
                    transform: translateY(0) rotate(2deg)
                }
                span{
                    font-family: "Comic", Arial, sans-serif;
                }
            }

            .line3{

                .tailor {
                    font-family: "JW.Sans-Bold", Arial, sans-serif;
                    position: relative;
                    text-align: center;
                    @media (max-width:920px) {
                        display: none;
                    }
                }

                .tailor:before {
                    transform: translateY(-50%) rotate(-10deg);
                }

                .tailor:after,
                .tailor:before {
                    border: .128rem solid #dadad7;
                    border-radius: 50%;
                    content: "";
                    height: 3.75rem;
                    position: absolute;
                    top: 50%;
                    width: 7.25rem;
                    z-index: 1;
                }

                .tailor:after {
                    right: -.4rem;
                    transform: translateY(-50%) rotate(-6deg);
                }

            }

            .line6 {
                span {
                border: 0.063rem solid #dadad7;
                border-radius: 100%;
                display: inline-block;
                font-family: "JW.Sans-Bold", Arial, sans-serif;
                padding: 0.4rem;
                transform: skew(-10deg);
                position: relative;
                }
            }

        }
    }
